*{
  margin: 0;
  padding: 0;
  bottom: 0
}

body{
  background: url(../images/2.png);
}
nav{
  position: fixed;
  left: 0;
  width: 280px;
  height: 100%;
  line-height: 30px;
  display: table;
  text-align: center;
  background: #2A2935;

}
nav ul{
  list-style: none;
}

nav li{
  text-align: right;
  font-size: 20px;
}
nav  li a{
  line-height: 70px;
  width: 280px;
  height: 40px;
  display: table-cell;
  color: rgba(255,255,255,0.3);
  transition: all 1s ease;
  text-decoration: none;
}
nav ul a:hover{
  color: rgba(1255,255,255,1);
  background: rgba(30,29,38,0.2);

}
nav li .selected{
  background: #1e1d26;
  color: rgba(255,255,255,1);

}
  background: transparent;

}
div{
  margin-left: 280px;
}

div ul{
  list-style: none;
}

div span{
  border: 0;
  transition: right .5s ease;
}
div span:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
}
nav div.logo , nav p.title{
  display: inline-block;

}

nav div.logo{
  position: relative;
  margin-left: 0;
}

nav div.logo a{
  text-decoration: none;
}

footer{
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin-left: 25px;
  position: fixed;
  bottom: 0px;
}
footer p{
  display: inline;
}

footer p{
  color: rgba(230,230,230,0.4);
  transition: all 1s ease;
}

footer p:hover{
  color: rgba(255,255,255,0.8);
}
