*{
  margin: 0;
  padding: 0;
  bottom: 0
}

@media only screen and (min-width:1380px) {
body{
  background: url(../images/2.png);
}
nav{
  position: fixed;
  left: 0;
  width: 280px;
  height: 100%;
  line-height: 30px;
  display: table;
  text-align: center;
  background: #2A2935;

}
nav ul{
  list-style: none;
}

nav li{
  text-align: right;
  font-size: 20px;
}
nav  li a{
  line-height: 70px;
  width: 280px;
  height: 40px;
  display: table-cell;
  color: rgba(255,255,255,0.3);
  transition: all 1s ease;
  text-decoration: none;
}
nav ul a:hover{
  color: rgba(1255,255,255,1);
  background: rgba(30,29,38,0.2);

}
nav li .selected{
  background: #1e1d26;
  color: rgba(255,255,255,1);

}
nav .title{
  background: transparent;

}
div.content{
  margin-left: 280px;
}

div.content ul{
  list-style: none;
}


nav div.logo , nav p.title{
  display: inline-block;

}

nav div.logo{
  position: relative;
  margin-left: 0;
}

nav div.logo a{
  text-decoration: none;
}


div.content{
  position: relative;
  margin-top: 100px;
  margin-left: 50px;

}

div.content ul li a{
  text-decoration: none;
  font-size: 20px;
}

div.content ul{
  list-style-type: georgian;
  color: coral;
}


div.content{
  position: relative;
  margin-top: 80px;
  margin-left: 360px;

}
div.content ul li {
  margin-top: 40px;
}
div.content ul li a{
  text-decoration: none;
  font-size: 25px;
  color: rgba(20,23,20,0.7);
  transition: all .5s ease;
}
div.content ul li a:hover{
  color: rgba(20,23,20,1)
}

div.content ul li p{
  display: block;
  margin: 10px;
  padding: 10px;
  font-size: 17px;
  color: #0A5C4F;
  border: 0.5px dashed coral;
}


div#demo{
  display: relative;
  margin-left: 360px;
  margin-top: 100px;
}

div#demo ul{
  margin-top: 30px;
  list-style-type: georgian;
  color: blue;
}
div#demo ul li p,div#demo ul li a{
  text-decoration: none;
  font-size: 25px;
  color: rgba(20,24,20,0.7);
  transition: all .5s ease;
  margin-top: 15px;
}

div#demo ul li span,div#demo ul li output{
  font-size: 24px;
  color: rgba(20,25,20,0.8);
}

div#demo ul li input{
  border: 1px blue dashed;
  font-size: 20px;
}

div#demo ul li input#button{
  border: 1px grey solid;
  font-size: 18px;
  padding: 3px;
  margin-left: 20px;
  color: rgba(20,24,20,0.5);
  transition: all .5s ease;
}

div#demo ul li a:hover{
  color: rgba(20,204,20,0.7);
}

div#demo ul li p:hover{
  color: rgba(20,25,204,0.7);
}

div#demo ul li input#button:hover{
  cursor: pointer;
}
div#demo ul li input#button:active{
  color: rgba(20,24,150,1);
}

div#demo ul li input{
  margin: 5px;
  padding: 3px;
  text-align: center;
}

footer{
  background-color: transparent;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin-left: 25px;
  position: fixed;
  bottom: 0px;
}
footer p{
  display: inline;
}
footer p{
  color: rgba(230,230,230,0.4);
  transition: all 1s ease;
}

footer p:hover{
  color: rgba(255,255,255,0.8);
}

}
@media only screen and (max-width:1380px) {
  body{
    background: url(../images/6.png);

  }
  nav{
    position: fixed;
    top:0;
    display: table;
    line-height: 25px;
    width: 100%;


  }

  nav div.logo{
    position: fixed;
    margin-left: 0;
    top:-30px;
    display: table-cell;

  }


  nav ul {
    list-style: none;
    margin-top: 18px;
    margin-left: 80px;

  }
  nav ul li{
    list-style: none;
  }
  nav ul li{
    display: table-cell;

  }
  nav li a{
    font-size: 25px;
    text-decoration: none;
    margin-right: 100px ;


  }
  nav  li a{
    position: relative;
    color: rgba(255,255,255,0.3);
    transition: all 1s ease;
    text-decoration: none;
  }


  nav ul a:hover{
    color: rgba(1255,255,255,1);

  }
  nav li .selected{
    color: rgba(255,255,255,1);

  }
  nav ul a.selected::before,a.selected::after,a.selected:hover::before,a.selected:hover::after{
    display: none;
  }
  nav ul a::before,a::after{
    position: absolute;
    transition: all .5s ease;

  }
  nav ul a::before{
    content: "\5B";
    left: -15px;
  }
  nav ul a::after{
    content: "\5D";
    right: 18px;
  }
  nav ul a:hover::before,a:hover::after{
    position: absolute;
  }
  nav ul a:hover::before {
  content: "\5B";
  left: -40px;
  }
  nav ul a:hover::after {
  content: "\5D";
  right: -15px;
  }

  div.content ul{
    list-style-type: georgian;
    color: coral;
  }


  div.content{
    position: relative;
    margin-top: 100px;
    margin-left: 160px;

  }
  div.content ul li {
    margin-top: 20px;
  }
  div.content ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgba(200,230,200,1);
  }

  div.content ul li p{
    display: block;
    margin: 10px;
    padding: 10px;
    font-size: 17px;
    color: lightblue;
    border: 0.5px dashed pink;
  }


  div#demo{
    display: relative;
    margin-left: 160px;
    margin-top: 100px;
  }

  div#demo ul{
    margin-top: 30px;
    list-style-type: georgian;
    color: coral;
  }
  div#demo ul li p,div#demo ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgba(200,230,200,1);
    transition: all .5s ease;
    margin-top: 15px;
  }

  div#demo ul li span,div#demo ul li output{
    font-size: 24px;
    color: lightblue;
  }

  div#demo ul li input{
    border: 1px blue dashed;
    font-size: 20px;
  }

  div#demo ul li input#button{
    border: 1px grey solid;
    font-size: 18px;
    padding: 3px;
    margin-left: 20px;
    color: rgba(20,24,20,0.5);
    transition: all .5s ease;
  }

  div#demo ul li a:hover{
    color: rgba(20,204,20,0.7);
  }

  div#demo ul li p:hover{
    color: rgba(20,205,24,0.7);
  }

  div#demo ul li input#button:hover{
    cursor: pointer;
  }
  div#demo ul li input#button:active{
    color: rgba(20,24,150,1);
  }

  div#demo ul li input{
    margin: 5px;
    padding: 3px;
    text-align: center;
  }

footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color: transparent;
    text-align: center;
    font-size: 15px;
    padding: 10px;
  }
  footer p{
    display: inline;
  }

  footer p{
    color: rgba(231,231,231,0.4);
    transition: all 1s ease;
  }

  footer p:hover{
    color: rgba(251,251,251,0.8);
  }

}
